In [3]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 3.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488493 sha256=ce354e2eeef36ecda08a72ba379a1507ed9fb67fcf17d6810af0de43a7319f48
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [10]:
!PYSPARK_HADOOP_VERSION=3 pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [11]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('DEMO').getOrCreate()

In [12]:
spark

In [13]:
pydata=spark.read.option('header','true').csv('job_details.csv',inferSchema=True)
pydata.show()

+---+-------+---+----------+------+------+
| Id|   name|age|department|salary|  city|
+---+-------+---+----------+------+------+
|302|  Alice| 22|    tester| 55000|  pune|
|305|    Bob| 24|    tester| 25000|mumbai|
|308|Charlie| 35|   support| 15000|  pune|
|310|  David| 24|    devops| 30000|  pune|
|407|    Eva| 32|    Tester| 35000|  pune|
|408|   Nano| 28|   support| 18000|mumbai|
|400|   sudo| 27|   support| 22000|  pune|
|255|   snap| 30|    devops| 45000|mumbai|
|677| cateri| 34|    devops| 65000|mumbai|
+---+-------+---+----------+------+------+

In [24]:
pydata.filter("Salary<=20000").select(['Name','age','Salary']).show()

+-------+---+------+
|   Name|age|Salary|
+-------+---+------+
|Charlie| 35| 15000|
|   Nano| 28| 18000|
+-------+---+------+

In [22]:
pydata.filter((pydata['Salary']<=20000)|(pydata['Salary']<=15000)).show()

+---+-------+---+----------+------+------+
| Id|   name|age|department|salary|  city|
+---+-------+---+----------+------+------+
|308|Charlie| 35|   support| 15000|  pune|
|408|   Nano| 28|   support| 18000|mumbai|
+---+-------+---+----------+------+------+

In [21]:
pydata.filter(~(pydata['Salary']<=20000)).show()

+---+------+---+----------+------+------+
| Id|  name|age|department|salary|  city|
+---+------+---+----------+------+------+
|302| Alice| 22|    tester| 55000|  pune|
|305|   Bob| 24|    tester| 25000|mumbai|
|310| David| 24|    devops| 30000|  pune|
|407|   Eva| 32|    Tester| 35000|  pune|
|400|  sudo| 27|   support| 22000|  pune|
|255|  snap| 30|    devops| 45000|mumbai|
|677|cateri| 34|    devops| 65000|mumbai|
+---+------+---+----------+------+------+

In [26]:
pydata.groupBy('Department').sum().show()

+----------+-------+--------+-----------+
|Department|sum(Id)|sum(age)|sum(salary)|
+----------+-------+--------+-----------+
|    tester|    607|      46|      80000|
|    Tester|    407|      32|      35000|
|    devops|   1242|      88|     140000|
|   support|   1116|      90|      55000|
+----------+-------+--------+-----------+

In [27]:
pydata.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|     310000|
+-----------+

In [28]:
pydata.groupBy('Name').avg().show()

+-------+-------+--------+-----------+
|   Name|avg(Id)|avg(age)|avg(salary)|
+-------+-------+--------+-----------+
|   sudo|  400.0|    27.0|    22000.0|
|    Eva|  407.0|    32.0|    35000.0|
|   Nano|  408.0|    28.0|    18000.0|
|Charlie|  308.0|    35.0|    15000.0|
| cateri|  677.0|    34.0|    65000.0|
|   snap|  255.0|    30.0|    45000.0|
|    Bob|  305.0|    24.0|    25000.0|
|  Alice|  302.0|    22.0|    55000.0|
|  David|  310.0|    24.0|    30000.0|
+-------+-------+--------+-----------+

In [33]:
from pyspark.sql import SparkSession

In [36]:
df = spark.read.csv("job_details.csv", header=True, inferSchema=True)
df.createOrReplaceTempView("jobinfo")
df.show()

+---+-------+---+----------+------+------+
| Id|   name|age|department|salary|  city|
+---+-------+---+----------+------+------+
|302|  Alice| 22|    tester| 55000|  pune|
|305|    Bob| 24|    tester| 25000|mumbai|
|308|Charlie| 35|   support| 15000|  pune|
|310|  David| 24|    devops| 30000|  pune|
|407|    Eva| 32|    Tester| 35000|  pune|
|408|   Nano| 28|   support| 18000|mumbai|
|400|   sudo| 27|   support| 22000|  pune|
|255|   snap| 30|    devops| 45000|mumbai|
|677| cateri| 34|    devops| 65000|mumbai|
+---+-------+---+----------+------+------+

In [37]:
alterdata = spark.sql("SELECT * FROM jobinfo WHERE Salary BETWEEN 15000 AND 20000")
alterdata.show()

+---+-------+---+----------+------+------+
| Id|   name|age|department|salary|  city|
+---+-------+---+----------+------+------+
|308|Charlie| 35|   support| 15000|  pune|
|408|   Nano| 28|   support| 18000|mumbai|
+---+-------+---+----------+------+------+

In [39]:
ald=spark.sql("SELECT * FROM jobinfo ORDER BY salary DESC")
ald.show()

+---+-------+---+----------+------+------+
| Id|   name|age|department|salary|  city|
+---+-------+---+----------+------+------+
|677| cateri| 34|    devops| 65000|mumbai|
|302|  Alice| 22|    tester| 55000|  pune|
|255|   snap| 30|    devops| 45000|mumbai|
|407|    Eva| 32|    Tester| 35000|  pune|
|310|  David| 24|    devops| 30000|  pune|
|305|    Bob| 24|    tester| 25000|mumbai|
|400|   sudo| 27|   support| 22000|  pune|
|408|   Nano| 28|   support| 18000|mumbai|
|308|Charlie| 35|   support| 15000|  pune|
+---+-------+---+----------+------+------+

In [40]:
join_two_table = spark.sql(" SELECT a.*, b.* FROM jobinfo a JOIN jobinfo b ON a.ID = b.ID ")
join_two_table.show()

+---+-------+---+----------+------+------+---+-------+---+----------+------+------+
| Id|   name|age|department|salary|  city| Id|   name|age|department|salary|  city|
+---+-------+---+----------+------+------+---+-------+---+----------+------+------+
|302|  Alice| 22|    tester| 55000|  pune|302|  Alice| 22|    tester| 55000|  pune|
|305|    Bob| 24|    tester| 25000|mumbai|305|    Bob| 24|    tester| 25000|mumbai|
|308|Charlie| 35|   support| 15000|  pune|308|Charlie| 35|   support| 15000|  pune|
|310|  David| 24|    devops| 30000|  pune|310|  David| 24|    devops| 30000|  pune|
|407|    Eva| 32|    Tester| 35000|  pune|407|    Eva| 32|    Tester| 35000|  pune|
|408|   Nano| 28|   support| 18000|mumbai|408|   Nano| 28|   support| 18000|mumbai|
|400|   sudo| 27|   support| 22000|  pune|400|   sudo| 27|   support| 22000|  pune|
|255|   snap| 30|    devops| 45000|mumbai|255|   snap| 30|    devops| 45000|mumbai|
|677| cateri| 34|    devops| 65000|mumbai|677| cateri| 34|    devops| 65000|mumbai|
+---+-------+---+----------+------+------+---+-------+---+----------+------+------+

In [45]:
conditionqury = spark.sql("""
    SELECT salary,
           CASE
               WHEN salary > 40000 THEN 'High'
               WHEN salary BETWEEN 20000 AND 40000 THEN 'Medium'
               ELSE 'Low'
           END AS Salary_category
    FROM jobinfo order by salary
""")
conditionqury.show()

+------+---------------+
|salary|Salary_category|
+------+---------------+
| 15000|            Low|
| 18000|            Low|
| 22000|         Medium|
| 25000|         Medium|
| 30000|         Medium|
| 35000|         Medium|
| 45000|           High|
| 55000|           High|
| 65000|           High|
+------+---------------+